@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

a {
	text-decoration: none;
}

.hidden {
	display: none;
}

.backToTop {
	float: right;
	font-size: 18px;
	color: #000000;
	display: none;
	padding-right: 32px;
	position: relative;
	bottom: 32px;
}

/*--HEADER--*/

header {
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	padding: 32px;
}

.logo {
	float: left;
}

nav {
	float: right;
}

.desktop {
	margin: 0;
}

.desktop ul {
	list-style-type: none;
	padding-left: 0;
}

.desktop li {
	display: inline-block;
	margin-left: 10px;
	text-transform: uppercase;
	text-align: center;
    background-color: #D20000;
    width: 90px;
    line-height: 30px;
    font-size: 12px;
    border-radius: 3px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.desktop li:hover, .mobile li:hover {
	background-color: #990000;
}

nav a {
	color: #FFFFFF;
}

/*BURGER MENU*/

.mobile {
	display: none;
	margin-top: 0;
}

.dropdown ul {
	position: absolute;
	z-index: 1;
	background-color: #D20000;
	padding: 5px;
	list-style-type: none;
}

.dropdown li {
		text-align: left;
		line-height: 30px;
		font-size: 12px;
		letter-spacing: 1px;
		text-transform: uppercase;
}

.burger {
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #D20000;
	display: inline;
	padding: 0 5px;
	margin-right: 32px;
	transition: background-color 0.5s ease;
}

/*HERO IMAGE*/

.hero-content {
	text-align: center;
	color: #FFFFFF;
	padding: 206px 0 200px;
	background-image: url('../img/jumbotron-mustang.jpg');
	background-size: cover;
	background-position: center center;
}

.hero-content h1 {
	margin: 0;
	font-size: 64px;
}

.hero-content h2 {
	font-weight: 100;
}

.hero-content button {
	color: #FFFFFF;
	background-color: #D20000;
	padding: 18px 32px;
	border: 0;
	font-size: 14px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.5s ease;
	text-transform: uppercase;
}

.hero-content button:hover {
	background-color: #990000;
}

/*MAIN*/

main {
	width: 768px;
	margin: 10px auto;
	padding: 20px 20px;
	background-color: #FFFFFF;
	line-height: 28px;
}

.about {
	width: 500px;
	margin: 0 auto;
}

.intro {
	padding-top: 64px;
	width: 500px;
	margin: 0 auto;
}

.intro img {
	max-width: 100%;
}

.row {
	display: block;
	width: 768px;
	float: left;
}

.col {
	width: 50%;
	float: left;
	text-align: center;
	padding-right: 10px;
}

.col img {
	max-width: 100%;
}

.col p {
	font-size: 10px;
	font-style: italic;
	margin-top: 0; 
}

/*--GALLERY--*/

.gallery {
    margin: 0 auto;
    padding-top: 64px;
}

.gallery h1 {
	padding-left: 16px;
}

.entry {
	float: left;
	width: 50%;
	padding: 0 16px;
	margin-bottom: 16px;
}

.entry img {
	max-width: 100%;
}

.desc {
	clear: both;
	padding-left: 16px;
}

/*--LIGHTBOX--*/

#backdrop
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .7;
	filter:alpha(opacity=0);
	z-index:50;
	display:none;
}

.lightbox {
	position: fixed;
	width: 640px;
	height: 480px;
	margin-left: -320px;
	margin-top: -240px;
	top: 50%;
	left: 50%;
	display: none;
	text-align: center;
	z-index: 51;
	-moz-box-shadow:0px 0px 5px #444444;
	-webkit-box-shadow:0px 0px 5px #444444;
	box-shadow:0px 0px 5px #444444;
}

.lightbox button {
	background-color: transparent;
	border: none;
	font-size: 32px;
	line-height: 16px;
	color: #F2F2F2;
}

.previous {
	float: left;
}

.next {
	float: right;
}

/*FORM*/

.form h1, .form h2 {
	color: #FFFFFF;
}

.form {
	width: 100%;
	margin: 10px 0;
	padding: 20px 20px;
	background-color: #990000;
	clear: both;
	text-align: center;
}

input, textarea {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #FFFFFF;
	width: 768px;
	text-transform: uppercase;
}

.form button {
	color: #FFFFFF;
	background-color: #990000;
	padding: 12px 32px;
	border: solid 3px #F2F2F2;
	font-size: 14px;
	cursor: pointer;
	transition: all 0.5s ease;
}

.form button:hover {
	background-color: #F2F2F2;
	color: #990000;
	border: solid 3px #F2F2F2;
}

/*FOOTER*/

footer {
	height: 50px;
	float: left;
	width: 100%;
}

footer a {
	color: #000000;
}

footer ul {
	padding: 0 32px;
}

footer li {
	display: inline-block;
	margin-left: 10px;
	text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

footer a:hover {
	color: #990000;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

/*MEDIA*/

@media screen and (max-width: 768px) {

	.hero-content h1 {
		font-size: 36px;
		}

	.hero-content h2 {
		font-size: 14px;
		}

	button {
		font-size: 14px;
		padding: 14px 24px;
		}

	.desktop {
		display: none;
		}

	main, .row, .about, .intro {
		width: 100%;
		}

	.mobile {
			display: block;
		}

	input, textarea {
		width: 325px;
		}
	.container, {
			max-width: 100%;
		}

}

@media screen and (max-width: 420px) {

	.logo {
		width: 175px;
	}

	.entry {
	width: 100%;
	float: none;
	}
}